.userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--color-purple);
    font-size: 3rem;
    gap: 2rem;

}

.userInfoName{
    font-weight: 700;
}

.imageContainer {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
}

@media (max-width: 48rem) {
  .userInfo{
    font-size: 1.5rem;
  }
}


