.main {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  
  min-height: 100vh;
}


.listContainer {
  
  border-radius: 3rem;
  overflow: hidden;
  backdrop-filter: blur(10px);
  width: 40vw;
  height: 70vh;
  padding: 4rem 0;  

  overflow: scroll;
  
  border: .1rem solid var(--color-lightpurple);
  
  

  
}

.listContainer::-webkit-scrollbar{
  display: none;
}

.btn{
  
  padding: .5rem;
  color: #ffffff;
}

.loadingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #110819;
  font-size: 3rem;
  font-weight: 400;
  color: var(--color-white);
}

.ghostContainer {
  
  border-radius: 3rem;  
  width: 50vh;
  height: 50vh;   

  
  
  border: .1rem solid var(--color-lightpurple); 

  
}

@media (max-width: 48rem) {
.main {
  
  width: 100vw;
}
  .listContainer {
    padding: 2rem;
    border: none;
    width: 100vw;
  }

  }

